<!DOCTYPE html>
<html>
<head>
    <title>House Nội Thất</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <link href="~/Content/css/easy-responsive-tabs.css" rel='stylesheet' type='text/css' />
    <!-- //bootstrap hoạt động -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <!-- tiêu đề -->
    <div class="header" id="home">
        <div class="container">
            <ul>
                <li> <a href="#" data-toggle="modal" data-target="#myModal"><i class="fa fa-unlock-alt" aria-hidden="true"></i> Đăng nhập </a></li>
                <li> <a href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Đăng kí </a></li>
                <li><i class="fa fa-phone" aria-hidden="true"></i> Liên hệ : 0916252697</li>
                <li><i class="fa fa-envelope-o" aria-hidden="true"></i> <a href="mailto:housenoithat@gmail.com">housenoithat@gmail.com</a></li>
            </ul>
        </div>
    </div>
    <!-- //tiêu đề -->
    <!-- header-bot -->
    <div class="header-bot">
        <div class="header-bot_inner_wthreeinfo_header_mid">
            <div class="col-md-4 header-middle">
                <form action="#" method="post">
                    <input type="search" name="search" placeholder="Tìm kiếm sản phẩm..." required="">
                    <input type="submit" value=" ">
                    <div class="clearfix"></div>
                </form>
            </div>
            <!-- header-bot -->
            <div class="col-md-4 logo_agile">
                <h2><a href=""><span>House</span>Nội Thất</a></h2>
            </div>

            <!-- header-bot -->
            <div class="col-md-4 logo_agile">
                <h4><a href="/Administrator/Home/Index"><input type="submit" value="Admin" class="btn btn-default" /></a></h4>

            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //header-bot -->
    <!-- banner -->
    <div class="ban-top">
        <div class="container">
            <div class="top_nav_left">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Thương hiệu và nút chuyển đổi được nhóm lại để hiển thị trên thiết bị di động tốt hơn -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <!-- Thu thập các liên kết điều hướng, biểu mẫu và nội dung khác để chuyển đổi -->
                        <div class="collapse navbar-collapse menu--shylock" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav menu__list">
                                <li class="active menu__item menu__item--current"><a class="menu__link" href="~/Home/Index">Trang chủ <span class="sr-only">(current)</span></a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/BeTrai">Bàn Ghế</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/BeGai">Phòng Ngủ</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/TreSoSinh">Nhà Bếp</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/PhuKien">Phòng tắm</a></li>
                                <li class=" menu__item"><a class="menu__link" href="~/Home/contact">Liên hệ</a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="top_nav_right">
                <div class="wthreecartaits wthreecartaits2 cart cart box_1">
                    <form action="#" method="post" class="last">
                        <input type="hidden" name="cmd" value="_cart">
                        <input type="hidden" name="display" value="1">
                        <button class="w3view-cart" type="submit" name="submit" value=""><i class="fa fa-cart-arrow-down" aria-hidden="true"></i></button>
                    </form>

                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- //banner-top -->
    <!-- Modal1 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Tài khoản người dùng-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Đăng nhập</h3>
                        <form action="#" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <input type="email" name="Email" required="">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="Mật khẩu" required="">
                                <label>Mật khẩu</label>
                                <span></span>
                            </div>
                            <input type="submit" value="Đăng nhập">
                        </form>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p><a href="#" data-toggle="modal" data-target="#myModal2"> Bạn chưa có tài khoản?</a></p>

                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="~/Content/images/log_pic.jpg" alt=" " />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal1 -->
    <!-- Modal2 -->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body modal-body-sub_agile">
                    <div class="col-md-8 modal_body_left modal_body_left1">
                        <h3 class="agileinfo_sign">Đăng kí</h3>
                        <form action="#" method="post">
                            <div class="styled-input agile-styled-input-top">
                                <input type="text" name="Tên người dùng" required="">
                                <label>Tên người dùng</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="email" name="Email" required="">
                                <label>Email</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="Mật khẩu" required="">
                                <label>Mật khẩu</label>
                                <span></span>
                            </div>
                            <div class="styled-input">
                                <input type="password" name="Xác nhận mật khẩu" required="">
                                <label>Xác nhận mật khẩu</label>
                                <span></span>
                            </div>
                            <input type="submit" value="Đăng kí">
                        </form>
                        <ul class="social-nav model-3d-0 footer-social w3_agile_social top_agile_third">
                            <li>
                                <a href="#" class="facebook">
                                    <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="twitter">
                                    <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="instagram">
                                    <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="pinterest">
                                    <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                    <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                                </a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <p><a href="#">Bằng cách nhấp vào đăng ký, tôi đồng ý với các điều khoản của bạn</a></p>

                    </div>
                    <div class="col-md-4 modal_body_right modal_body_right1">
                        <img src="~/Content/images/log_pic.jpg" alt=" " />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- //Modal content-->
        </div>
    </div>
    <!-- //Modal2 -->
    <!-- banner -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1" class=""></li>
            <li data-target="#myCarousel" data-slide-to="2" class=""></li>
            <li data-target="#myCarousel" data-slide-to="3" class=""></li>
            <li data-target="#myCarousel" data-slide-to="4" class=""></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Cùng<span>House Nội Thất</span></h3>
                        <p>thiết kế riêng cho ngôi nhà của bạn</p>
                        <a class="hvr-outline-out button2" href="">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="item item2">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Ưu đãi Online<span>Giảm 10%</span></h3>
                        <p>khi đặt hàng trên website House Nội Thất </p>
                        <a class="hvr-outline-out button2" href="">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="item item3">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>FreeShip <span>Toàn nước</span></h3>
                        <p>Khi mua hàng trên 1 triệu</p>
                        <a class="hvr-outline-out button2" href="">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="item item4">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Dịch vụ <span>Chuyên nghiệp</span></h3>
                        <p>Miễn phí giao hàng và lắp đặt</p>
                        <a class="hvr-outline-out button2" href="">Mua ngay</a>
                    </div>
                </div>
            </div>
            <div class="item item5">
                <div class="container">
                    <div class="carousel-caption">
                        <h3>Chính sách <span>Bảo hàng</span></h3>
                        <p>3-5 năm trong các trường hợp sụt lún</p>
                        <a class="hvr-outline-out button2" href="">Mua ngay </a>
                    </div>
                </div>
            </div>
        </div>
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!-- The Modal -->
    </div>
    <!--Nơi đặt slidershow-->
    <!-- //banner -->

    <div class="banner_bottom_agile_info">
        <div class="container">
            <div class="banner_bottom_agile_info_inner_w3ls">
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/Content/images/bottom1.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>Tiện nghi</span> sử dụng sản phẩm</h3>
                            <p>House</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="col-md-6 wthree_banner_bottom_grid_three_left1 grid">
                    <figure class="effect-roxy">
                        <img src="~/Content/images/bottom2.jpg" alt=" " class="img-responsive" />
                        <figcaption>
                            <h3><span>Du lịch</span>vòng quanh tổ ấm</h3>
                            <p>House</p>
                        </figcaption>
                    </figure>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
    @RenderBody()
    <!--/grids-->
    <div class="coupons">
        <div class="coupons-grids text-center">
            <div class="w3layouts_mail_grid">
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-truck" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>Miễn phí vận chuyển</h3>
                        <p>Hỗ trợ 100% chi phí vận chuyển hàng</p>
                    </div>
                </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-headphones" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>Hỗ trợ 24/7</h3>
                        <p>Hỗ trợ, giải đáp thắc mắc của khách hàng 24/7</p>
                    </div>
                </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>Trả hàng - Hoàn tiền</h3>
                        <p>Khách hàng có thể đổi trả nếu sản phẩm gặp lỗi</p>
                    </div>
                </div>
                <div class="col-md-3 w3layouts_mail_grid_left">
                    <div class="w3layouts_mail_grid_left1 hvr-radial-out">
                        <i class="fa fa-gift" aria-hidden="true"></i>
                    </div>
                    <div class="w3layouts_mail_grid_left2">
                        <h3>COUPONS QUÀ TẶNG FREE</h3>
                        <p>Cửa hàng có nhiều chương trình ưu đãi khách hàng</p>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>

        </div>
    </div>
    <!--grids-->
    <!-- footer -->
    <div class="footer">
        <div class="footer_agile_inner_info_w3l">
            <div class="col-md-3 footer-left">
                <h2><a href="#"><span>House</span>Nội Thất </a></h2>
                <p>
                    Website House Nội Thất, chuyên cung cấp sản phẩm nội thất, thiết bị trang trí nhà cửa, và đồ gia dụng.
                </p>
                <ul class="social-nav model-3d-0 footer-social w3_agile_social two">
                    <li>
                        <a href="https://www.facebook.com/HouseNoiThat/?ref=pages_you_manage" class="facebook">
                            <div class="front"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-facebook" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://twitter.com/QuangHunh14" class="twitter">
                            <div class="front"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-twitter" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/huynhquang2100" class="instagram">
                            <div class="front"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-instagram" aria-hidden="true"></i></div>
                        </a>
                    </li>
                    <li>
                        <a href="#" class="pinterest">
                            <div class="front"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                            <div class="back"><i class="fa fa-linkedin" aria-hidden="true"></i></div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-9 footer-right">
                <div class="sign-grds">
                    <div class="col-md-4 sign-gd">
                        <h4>CHĂM SÓC KHÁCH HÀNG</h4>
                        <ul>
                            <li><a href="#">Chính sách mua hàng</a></li>
                            <li><a href="#">Giao hàng và lắp đặt</a></li>
                            <li><a href="#">Mua hàng online</a></li>
                            <li><a href="#">Kiểm tra đơn hàng</a></li>
                            <li><a href="#">Trả hàng/Đổi hàng</a></li>
                            <li><a href="#">Chính sách bảo hành</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 sign-gd">
                        <h4>VỀ CHÚNG TÔI </h4>
                        <ul>
                            <li><a href="index">Trang chủ</a></li>
                            <li><a href="#">Giới thiệu về house</a></li>
                            <li><a href="#">Chính sách trả góp</a></li>
                            <li><a href="#">Tin tức dự án</a></li>
                            <li><a href="#">Thông tin</a></li>
                            <li><a href="contact">Liên hệ</a></li>
                        </ul>
                    </div>

                    <div class="col-md-4 sign-gd">
                        <h4>Thông tin <span>liên hệ</span></h4>
                        <div class="w3-address">
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Liên hệ: </h6>
                                    <p>0912345678</p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Email</h6>
                                    <p><a href="mailto:housenoithat@gmail.com"> housenoithat@gmail.com</a></p>
                                </div>
                                <div class="clearfix"> </div>
                            </div>
                            <div class="w3-address-grid">
                                <div class="w3-address-left">
                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                </div>
                                <div class="w3-address-right">
                                    <h6>Địa chỉ</h6>
                                    <p>
                                        Hẻm 69 Đặng Thùy Trâm, Phường 13, Bình Thạnh, Thành phố Hồ Chí Minh, Việt Nam
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="agile_newsletter_footer">
                <div class="col-sm-6 newsleft">
                    <h3>ĐĂNG KÝ ĐỂ NHẬN THÔNG BÁO !</h3>
                </div>
                <div class="col-sm-6 newsright">
                    <form action="#" method="post">
                        <input type="email" placeholder="Nhập Email của bạn..." name="email" required="">
                        <input type="submit" value="Đăng kí">
                    </form>
                </div>

                <div class="clearfix"></div>
            </div>
            <p class="copy-right">&copy; @DateTime.Now.Year HOUSE NỘI THẤT ĐÃ ĐĂNG KÝ BẢN QUYỀN. Chỉnh sửa bởi | <a href="#">Nhóm Nội Thất</a></p>
        </div>
    </div>
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>

    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!-- script for responsive tabs -->
    <script src="~/Content/js/easy-responsive-tabs.js"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <!-- //script for responsive tabs -->
    <!-- stats -->
    <script src="~/Content/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/js/jquery.countup.js"></script>
    <script>
        $('.counter').countUp();
    </script>
    <!-- //stats -->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</body>
</html>
