@model WebsiteHouseBanDoNoiThat.Model.ChatLieu

@{
    ViewBag.Title = "Delete";
}

<h2>Xóa</h2>

<h3>Bạn có muốn xóa mục này?</h3>
<div>
    <h4>Chất liệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã Chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChatLieu)
        </dd>
        <dt>
            Tên Chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChatLieu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
