@model WebsiteHouseBanDoNoiThat.Model.ChatLieu

@{
    ViewBag.Title = "Details";
}

<h2>Chi Tiết</h2>

<div>
    <h4>Chất liệu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaChatLieu)
        </dd>
        <dt>
            Tên chất liệu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChatLieu)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaChatLieu }) |
    @Html.ActionLink("Back to List", "Index")
</p>
