@model WebsiteHouseBanDoNoiThat.Model.DoiTuong

@{
    ViewBag.Title = "Details";
}

<h2>Chi tiết</h2>

<div>
    <h4>Đối tượng</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã đối tượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDoiTuong)
        </dd>
        <dt>
            Tên đối tượng
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDoiTuong)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.MaDoiTuong }) |
    @Html.ActionLink("Back to List", "Index")
</p>
