@{
    ViewBag.Title = "About";
}

<div class="banner_bottom_agile_info">
    <div class="container">
        <div class="agile_ab_w3ls_info">
            <div class="col-md-6 ab_pic_w3ls">
                <img src="~/Content/images/IMG/Banner1.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="col-md-6 ab_pic_w3ls_text_info">
                <h5>Thông tin <span> Cửa hàng Thời trang trẻ em</span> </h5>
                <p>Website Thời trang trẻ em, chuyên cung cấp các mặt hàng thời trang quần áo dành cho bé trai , bé gái , trẻ sơ sinh ...</p>
            </div>
            <div class="clearfix"></div>
        </div>
        
    </div>
</div>