@using WebsiteHouseBanDoNoiThat.Model;
@{
    ViewBag.Title = "PhuKien";
    List<SanPham> listPhuKien = ViewBag.PhuKien;
}
<!DOCTYPE html>
<html>
<head>
    <title>Phụ kiện</title>
    <!--/tags -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Elite Shoppy Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--//tags -->
    <link href="~/Content/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/jquery-ui.css">
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!-- //for bootstrap working -->
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800" rel="stylesheet">
    <link href='//fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,900,900italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div class="new_arrivals_agile_w3ls_info">
        <div class="container">
            <h3 class="wthree_text_info">Phòng<span>Tắm</span></h3>
            <div id="horizontalTab">
                    <!--/tab_one-->
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP069.jpg" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP069.jpg" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Bình Đựng Xà Phòng AUBREY</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">259.000 VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Bình Đựng Xà Phòng AUBREY" />
                                            <input type="hidden" name="amount" value="259.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP070.png" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP070.png" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Đĩa Để Xà Phòng PETAR</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">
                                        129.000 VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Đĩa Để Xà Phòng PETAR" />
                                            <input type="hidden" name="amount" value="129.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP071.jpg" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP071.jpg" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Gương Treo tường MLAN</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">1.639.000 VNĐ</span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Gương Treo tường MLAN" />
                                            <input type="hidden" name="amount" value="1.639.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP072.jpg" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP072.jpg" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Thảm Chống Trượt AREN</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">289.000 VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Thảm Chống Trượt AREN" />
                                            <input type="hidden" name="amount" value="289.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--//tab_one-->
                    <!--/tab_two-->
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP073.jpeg" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP073.jpeg" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Giá Dán Tường SUSSIE</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">
                                        379.000  VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Giá Dán Tường SUSSIE" />
                                            <input type="hidden" name="amount" value="379.000 " />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP074.png" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP074.png" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Kệ Nhà Tắm 3 Tầng SNORKY</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">
                                        509.000 VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Kệ Nhà Tắm 3 Tầng SNORKY" />
                                            <input type="hidden" name="amount" value="509.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP075.jpg" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP075.jpg" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Bộ Bàn Ghế Ngoài Trời BISTRO</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">
                                        4.190.000 VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Bộ Bàn Ghế Ngoài Trời BISTRO" />
                                            <input type="hidden" name="amount" value="4.190.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 product-men">
                        <div class="men-pro-item simpleCart_shelfItem">
                            <div class="men-thumb-item">
                                <img src="~/Content/images/MSP076.jpg" alt="" class="pro-image-front">
                                <img src="~/Content/images/MSP076.jpg" alt="" class="pro-image-back">
                                <div class="men-cart-pro">
                                    <div class="inner-men-cart-pro">
                                        <a href="#" class="link-product-add-cart">Chi tiết</a>
                                    </div>
                                </div>

                            </div>
                            <div class="item-info-product ">
                                <h4><a href="single.html">Ghế Ngoài Trời SUNSET</a></h4>
                                <div class="info-product-price">
                                    <span class="item_price">
                                        1.729.000 VNĐ
                                    </span>
                                </div>
                                <div class="snipcart-details top_brand_home_details item_add single-item hvr-outline-out button2">
                                    <form action="#" method="post">
                                        <fieldset>
                                            <input type="hidden" name="cmd" value="_cart" />
                                            <input type="hidden" name="add" value="1" />
                                            <input type="hidden" name="business" value=" " />
                                            <input type="hidden" name="item_name" value="Ghế Ngoài Trời SUNSET" />
                                            <input type="hidden" name="amount" value="1.729.000" />
                                            <input type="hidden" name="discount_amount" value="0" />
                                            <input type="hidden" name="currency_code" value="VNĐ" />
                                            <input type="hidden" name="return" value=" " />
                                            <input type="hidden" name="cancel_return" value=" " />
                                            <input type="submit" name="submit" value="Thêm vào giỏ" class="button" />
                                        </fieldset>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <!--//tab_two-->
                </div>
            </div>
        </div>
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content modal-info">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body modal-spa">
                    <div class="login-grids">
                        <div class="login">
                            <div class="login-bottom">
                                <h3>Sign up for free</h3>
                                <form>
                                    <div class="sign-up">
                                        <h4>Email :</h4>
                                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                    </div>
                                    <div class="sign-up">
                                        <h4>Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                    </div>
                                    <div class="sign-up">
                                        <h4>Re-type Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">

                                    </div>
                                    <div class="sign-up">
                                        <input type="submit" value="REGISTER NOW">
                                    </div>

                                </form>
                            </div>
                            <div class="login-right">
                                <h3>Sign in with your account</h3>
                                <form>
                                    <div class="sign-in">
                                        <h4>Email :</h4>
                                        <input type="text" value="Type here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Type here';}" required="">
                                    </div>
                                    <div class="sign-in">
                                        <h4>Password :</h4>
                                        <input type="password" value="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="">
                                        <a href="#">Forgot password?</a>
                                    </div>
                                    <div class="single-bottom">
                                        <input type="checkbox" id="brand" value="">
                                        <label for="brand"><span></span>Remember Me.</label>
                                    </div>
                                    <div class="sign-in">
                                        <input type="submit" value="SIGNIN">
                                    </div>
                                </form>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <p>By logging in you agree to our <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //login -->
    <a href="#home" class="scroll" id="toTop" style="display: block;"> <span id="toTopHover" style="opacity: 1;"> </span></a>
    <!-- js -->
    <script type="text/javascript" src="~/Content/js/jquery-2.1.4.min.js"></script>
    <!-- //js -->
    <script src="~/Content/js/responsiveslides.min.js"></script>
    <script>
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: true,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });
        });
    </script>
    <script src="~/Content/js/modernizr.custom.js"></script>
    <!-- Custom-JavaScript-File-Links -->
    <!-- cart-js -->
    <script src="~/Content/js/minicart.min.js"></script>
    <script>
        // Mini Cart
        paypal.minicart.render({
            action: '#'
        });

        if (~window.location.search.indexOf('reset=true')) {
            paypal.minicart.reset();
        }
    </script>

    <!-- //cart-js -->
    <!---->
    <script type='text/javascript'>
        //<![CDATA[
        $(window).load(function () {
            $("#slider-range").slider({
                range: true,
                min: 0,
                max: 9000,
                values: [1000, 7000],
                slide: function (event, ui) {
                    $("#amount").val("$" + ui.values[0] + " - $" + ui.values[1]);
                }
            });
            $("#amount").val("$" + $("#slider-range").slider("values", 0) + " - $" + $("#slider-range").slider("values", 1));

        });//]]>

    </script>
    <script type="text/javascript" src="~/Content/js/jquery-ui.js"></script>
    <!---->
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="~/Content/js/move-top.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.easing.min.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- here stars scrolling icon -->
    <script type="text/javascript">
        $(document).ready(function () {
            /*
                var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */

            $().UItoTop({ easingType: 'easeOutQuart' });

        });
    </script>
    <!-- //here ends scrolling icon -->
    <!-- for bootstrap working -->
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
</body>
</html>
